@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.card {
  width: 40vw;
  margin: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  font-family: 'VT323', monospace;
  background-color: #121212e8;
  color: white;
}
h2 {
  font-size: 2vw;
}
p {
  font-size: 1.5vw;
}

img {
  width: 30vw;
}
